.callout {
	&__head {
		color: var(--primary-color);
		@include type-setting(1);
		font-weight: bold;
	}

	&__subline {
		@include type-setting(0);
		color: var(--text-color);
		font-weight: bold;
	}

}
