/**
 * src/css/components/_eyecatcher.scss
 *
 * @author Johannes Braun <johannes.braun@hannenz.de>
 * @package kfe
 */
.eyecatcher {
	border-width: 3px;
	border-style: solid;
	border-color: var(--primary-color);
	background-color: #fff;
	padding: 20px 10px 10px 10px;
	position: relative;

	&__label {
		font-family: Gaegu;
		background-color: var(--primary-color);
		text-transform: uppercase;
		color: var(--bg-color);
		text-align: center;
		padding: 0 1rem;
		display: inline-block;
		position: absolute;
		top: -0.5rem;
		transform: rotate(-2deg);
		box-shadow: 5px 5px 4px rgba(100, 100, 100, 0.5);
	}

	ol {
		margin-top: 24px;
		counter-reset: cnt;
		list-style-type: none;
		@extend .stack;
	}

	li {
		padding-left: 24px;
		position: relative;
		counter-increment: cnt;

		&::before {
			content: counter(cnt)'.';
			color: var(--primary-color);
			font-family: Gaegu;
			font-weight: bold;
			position: absolute;
			left: 0;
		}
	}
}
