.market-evaluation {
	display: flex;
	flex-direction: column;
	align-items: center;
	> * + * {
		margin-top: 3rem;
	}

	h1 {
		margin: 0;
	}
}

.figures {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	> figure {
		min-width: 200px;
		max-width: 300px;
		width: 20vw;
		flex: 1;
	}
}

.pie-chart {
	width: 10vw;
	height: 10vw;
	transform: rotate(-90deg);
	// background: var(--color1);

	// border-radius: 50%;

	circle {
		fill: var(--color1);
		fill: none;
		transition: 150ms;
	}

	circle + circle {
		fill: none;
		// stroke: var(--color2);
		// stroke-width: 32;
	}

	circle + circle + circle {
		// stroke: var(--color3);
	}
}

.chart {
	--color1: yellowgreen;
	--color2: #655;
	--color3: mediumturquoise;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;

	> * + * {
		margin-top: 1.5rem;
	}

	// box-shadow: 2px 2px 6px rgba(30, 30, 30, .2);
	// padding: 1rem;

	&__title {
		text-align: center;
		margin: 0;
	}

	figcaption {
		margin-top: 12px;
		font-weight: bold;
		text-align: left;
		font-feature-settings: 'tnum';
		width: 80%;
		margin: 12px auto;

		table {
			width: 100%;
			
			tr.highlight {
				outline: 1px dashed hotpink;
			}

			td {
				font-feature-settings: 'tnum';
			}

			td:last-child {
				text-align: right;
			};
		}
	}
} 
