/**
 * src/css/partials/_layout.scss
 *
 * @author Johannes Braun <johannes.braun@hannenz.de>
 * @package kfe
 */

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

}

.inner-bound {
	max-width: $inner-bound-width;
	margin: 0 auto;
	padding: 0 $gutter;
	position: relative;
	display: block;
}


.main-content {
	flex: 1 0 auto;
	margin-top: 3rem;
}

.main {
	min-height: 50vh;
}

.columns-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	.main, .sidebar {
		width: 100%;
	}

	@include for-size(tablet-portrait-up) {
		.main {
			width: 72%;
		}

		.sidebar {
			width: 25%;
		}
	}
}

.stack > * + * {
	margin-top: $vertical-unit;
}

