.inner-bound {
	max-width: $inner-bound-width;
	margin: 0 auto;
	padding: 0 $gutter;
}

.main-content {
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.main-content {
	flex: 1 0 auto;
}
