/**
 * src/css/partials/_typography.scss
 *
 * Typography related styles
 *
 */


/************
 * Webfonts *
 ************/

// Woff2 is preferered and - if available - the only format needed.
// Use a font-face include line for each font face (regular, bold, italic, bold-italic, like shown below

/**
 * @example
 *
 * @include font-face('FontName', '../fonts/FontName-Regular', normal, normal, $file-types: woff2);
 * @include font-face('FontName', '../fonts/FontName-Bold', bold, normal, $file-types: woff2);
 * @include font-face('FontName', '../fonts/FontName-Italic', normal, italic, $file-types: woff2);
 */


html {
	@include fluid-type(font-size, $tablet-portrait-breakpoint, $desktop-breakpoint, 11px, 22px);
}

body {
	// Sets up font-size and line-height
	// according to vertical rhythm. 
	// @see mixins in mixins/_vertical_rhythm.scss
	font-size: 20px;
	color: var(--text-color);
	// font-family: "ElliotSix", "Daniel Black", Borsok, Androgyne, Amatic, "Open Sans";
	font-family: "Source Sans Pro";
}

.headline {
	font-family: "ElliotSix";
	color: currentColor;
}

h1.headline {

}

p, ul {
	margin-bottom: $vertical-unit;
}

.body-text {
	ul {
		list-style: none;
		margin: 1.5rem 0;
	}

	li {
		padding-left: 1rem;
		position: relative;

		&::before {
			content: '-';
			position: absolute;
			left: 0;
		}

	}
}

.main-content a:not(.button) {
	padding: 0 3px;
	color: $primary-color;
	text-decoration: none;
	display: inline;
	// background-image: linear-gradient(transparent 0, transparent 90%, $primary-color 90%, $primary-color);
	background-image: linear-gradient($primary-color, $primary-color);
	background-repeat: repeat-x;
	background-position: 0 100%;
	background-size: 100% 0.15em;
	box-decoration-break: clone;

	transition: 150ms ease-in;

	&:focus,
	&:hover {
		color: #fff;
		background-size: 100% 100%;
	}
}

.big-text {
	font-size: 3rem;
	line-height: 1;
	color: #000;
}
