/**
 * _settings.scss
 */

/**********
 * Colors *
 **********/

$bg-color: #b3dc2f;
$bg-color-1: darken($bg-color, 7.5%);
$bg-color-2: darken($bg-color, 15%);
$bg-color-3: darken($bg-color, 25%);
$bg-color-4: darken($bg-color, 33%);
$primary-color: #51369b;
$text-color: #231f20;
$error-color: #c00000;
$grey-1: #f0f0f0;
$grey-2: #d0d0d0;
$grey-3: #b0b0b0;
$grey-4: #909090;
$grey-5: #707070;
$grey-6: #505050;
$grey-7: #303030;
$grey-8: #101010;

:root {
	--background-color: $bg-color;
	--bg-color: #{$bg-color};
	--bg-color-1: #{$bg-color-1};
	--bg-color-2: #{$bg-color-2};
	--bg-color-3: #{$bg-color-3};
	--primary-color: #{$primary-color};
	--text-color: #{$text-color};
	--error-color: #{$error-color};
	--grey-1: #{$grey-1};
	--grey-2: #{$grey-2};
	--grey-3: #{$grey-3};
	--grey-4: #{$grey-4};
	--grey-5: #{$grey-5};
	--grey-6: #{$grey-6};
	--grey-7: #{$grey-7};
	--grey-8: #{$grey-8};
}


/************
 * Measures *
 ************/

$gutter:1rem;
$header-height:100px;
$inner-bound-width:54rem;



/********************
 * Options/Switches *
 ********************/
$debug-base-line-grid:false;

$global-radius: 0;
