/**
 * _settings.scss
 */

/**********
 * Colors *
 **********/

$primary-color:firebrick;
$accent-color:hotpink;

$text-color:#303036;



/************
 * Measures *
 ************/

$gutter:1rem;
$header-height:100px;
$inner-bound-width:42em;



/********************
 * Options/Switches *
 ********************/
$debug-base-line-grid:false;
